body{
    margin: 0;
}

header{
    background-image:url(../img/pattern.png);
    background-size: contain;
    background-color: lightblue;
}
.logo{
    width: 200px;
    padding: 40px 10px;
}
.subtitle{
    color: blue;
}
.article-images{
    margin: 20px 0;
}
.table-head{
    background-color:#7fa6fb;
    color: white;
}
.table-line{
    background-color:#dfe5f2;
}
table{
    width: 100%;
    text-align: left;
    padding-bottom: 40px;
}
td{
    padding: 5px;
}
footer{
    background-color: #313a6b;
    text-align: center;
    color: white;
    padding: 5px;
}
.header{
    line-height: 0;
    padding-top: 20px;
    padding-bottom: 20px;
}
main{
    margin-left: 10%;
    margin-right: 10%;
}